
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 1rem;
  max-height: 350px;
  padding: 5rem 0 0 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("assets/regmentv332.png");
  background-position: 395px -100px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
}
.masthead h1, .masthead .h1 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
.boxImageAcceuil
{
  margin: 1rem auto 0px auto;
  width: auto;
  height: 30%;
  background-color: transparent;
 }
 @media (min-width:1400px) {
  .masthead
  {
    transform: scale(1.2);
  }  
 }
 @media (max-width: 1400px) {
  .masthead {
    background-size: cover;
    background-position: 95px -100px;
  }
}
@media (max-width: 991px) {
  .masthead {
    background-size: cover;
    background-position: 1600px -100px;
  }
}
   @media (max-width: 600px) {
  .masthead {
    background-position: 1300px -100px;
  }
}  



.banniereFlex
{
  display: flex;
  flex-direction: column;
  height: 20rem;
}
.banniereFlex img
{
  margin-top: -40px;
  margin-bottom: -20px;
  height: 170px;
  width: auto;
}

.marginwWhite
{
  background-color: white;
  width: 100%;
  padding-top: 50px;
}
.accordeonHover:hover
{
  background-color: rgb(220, 241, 239);
}

.accordion-body
{
  margin: 0rem 0rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-align: left;
}

.separator
{
  margin: auto;
  width: 80%;
  border: 1px solid black;
  margin-bottom: 30px;
}
@media (min-width:1500px) {
    .accordion-body
  {
    padding-left: 15rem;
    padding-right: 15rem;
  }
  .accordion-button
  {
    padding-left: 12rem;
    padding-right: 12rem;
  }
  
}