  .masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 1rem;
  max-height: 350px;
  padding: 5rem 0 0 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.9) 100%), url("assets/foret.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.masthead h1, .masthead .h1 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
.boxImageAcceuil
{
  margin: 1rem auto 0px auto;
  width: auto;
  height: 30%;
  background-color: transparent;
 }

 @media (max-width: 1500px) {
  .masthead {
    background-position: 30% -100px;
  }
}  
.banniereFlex
{
  display: flex;
  flex-direction: column;
  height: 20rem;
}
.banniereFlex img
{
  margin-top: -40px;
  margin-bottom: -20px;
  height: 170px;
  width: auto;
}
