.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 1rem;
  max-height: 350px;
  padding: 5rem 0 0 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.9) 100%), url("assets/s4ttf13bx6q11.png");
  background-position: 0px -300px;
  background-attachment: fixed;
  background-size: cover;
}
.masthead h1, .masthead .h1 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
.boxImageAcceuil
{
  margin: 1rem auto 0px auto;
  width: auto;
  height: 30%;
  background-color: transparent;
 }
@media (max-width:1500px) {
  .masthead
  {
    background-position: 0px -200px;
  }
}
.banniereFlex
{
  display: flex;
  flex-direction: column;
  height: 20rem;
}
.banniereFlex img
{
  margin-top: -40px;
  margin-bottom: -20px;
  height: 170px;
  width: auto;
}



.contenue
{
  padding: 5rem 0 5rem;
  width: 75%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.contenue p
{
  text-align: left;
}
.separator
{
  width: 100%;
  border: 1px solid black;
  margin-bottom: 30px;
}


.boxHeadeur
{
  display: flex;
}
.sousBoxHeadeur
{
  justify-content: center;  
  padding:  1.8rem;
  margin: 1rem;
  background-color: rgb(235, 235, 235);
  border-radius: 50px;
  border: 1px solid rgb(139, 139, 139);
  box-shadow: 0px 0px 10px black;
}
.sousBoxHeadeur:hover
{
  box-shadow: 0px 0px 15px black;
}

.boxUn1
{
  width: 64%;
}
.boxUn2
{
  width: 36%;
}


.boxTriple
{
  display: flex;
}
.sousBoxTriple
{
  justify-content: center;
  width: 32%;
  padding:  1.8rem;
  margin: 1rem;
  background-color: rgb(235, 235, 235);
  border-radius: 50px;
  border: 1px solid rgb(139, 139, 139);
  box-shadow: 0px 0px 10px black;
}
.sousBoxTriple:hover
{
  box-shadow: 0px 0px 15px black;
}


.boxQuatre
{
  display: flex;
}
.sousBoxQuatre
{
  justify-content: center;
  width: 42%;
  padding:  1.8rem;
  margin: 1rem;
  background-color: rgb(235, 235, 235);
  border-radius: 50px;
  border: 1px solid rgb(139, 139, 139);
  box-shadow: 0px 0px 10px black;
}
.sousBoxQuatre:hover
{
  box-shadow: 0px 0px 15px black;
}
@media (max-width:1500px) {
  .contenue
  {
    width: 85%;
  }
  .boxHeadeur
  {
    justify-content: center;
  }
  .boxTriple
  {
    flex-wrap: wrap;
    justify-content: center;
  }
  .boxQuatre
  {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sousBoxTriple
  {
    margin: 10px;
    width: 30%;
  }
    
}
@media (max-width:991px) {
  body
  {
    background-color: rgb(235, 235, 235);
  }
  .contenue
  {
    width: 95%;
  }
  .boxHeadeur
  {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  .boxHeadeur div
  {
    width: 90%;
    margin: 0 0.5rem 0 0.5rem;
    padding: auto;
    border: 0px solid rgb(139, 139, 139);
    box-shadow: 0px 0px 0px black;
  }
  .sousBoxHeadeur:hover
  {
    box-shadow: 0px 0px 0px black;
  }
  .boxTriple
  {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  .boxTriple div
  {
    width: 90%;
    margin: 0 0.5rem 0 0.5rem;
    padding: auto;
    border: 0px solid rgb(139, 139, 139);
    box-shadow: 0px 0px 0px black;
  }
  .sousBoxTriple:hover
  {
    box-shadow: 0px 0px 0px black;
  }
  .boxQuatre
  {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  .boxQuatre div
  {
    width: 90%;
    margin: auto 0.5rem auto 0.5rem;
    padding: auto;
    border: 0px solid rgb(139, 139, 139);
    box-shadow: 0px 0px 0px black;
  }
  .sousBoxQuatre:hover
  {
    box-shadow: 0px 0px 0px black;
  }
}